input {
	display: block;
	border-radius: 0.25em;
	padding: 0.5em 3em 0.5em 1em;
	font-family: Helvetica, Arial, sans-serif;
	margin-top: 0.75em;
	margin-bottom: 2.25em;
	line-height: 1.5em;
	width: 33.5em;
	height: 2.5em;
	font-size: 1em;
	border: 1px solid #757575;
	label {
		display: block;
		margin-bottom: 1.25em;
		font-family: Helvetica, Arial, sans-serif;
		line-height: 1.5em;
		.error {
			color:#333;
		}
	}
	.error {
		border: 1px solid #D60000;
	}
	&:focus {
		outline: 1px dashed #005EEB;
		outline-offset: 0.25em;
		outline-radius: 0.125em;
		-moz-outline-radius: 0.125em;
	}
}

.input-info {
	display: block;
	position: relative;
	top: -1.125em;
	margin-bottom: 1em;
}

.error {
	display: block;
	position: relative;
	margin-bottom: 1em;
	input {
		border: 1px solid #D60000;
	}
	span {
		top: -1.125em;
	}
}

span.error {
	color: #D60000;
}

label.error {
	max-width: 33.5em;
	&:after {
		content: '';
		width: 1.5em;
		height: 1.5em;
		background-image: url('/images/svg/error_red.svg');
		position: absolute;
		top: 2.575em;
		right: 0.313em;
	}
}

textarea {
	display: block;
	border-radius: 0.25em;
	padding: 0.5em 1em;
	font-family: Helvetica, Arial, sans-serif;
	margin-top: 0.75em;
	margin-bottom: 2.25em;
	line-height: 1.5em;
	width: 33.5em;
	font-size: 1em;
	border: 1px solid #757572;
	label {
		display: block;
		margin-bottom: 1.25em;
		font-family: Helvetica, Arial, sans-serif;
		line-height: 1.5em;
	}
	&:focus {
		outline: 1px dashed #005EEB;
		outline-offset: 0.25em;
		-moz-outline-radius: 0.125em;
		outline-radius: 0.125em;
	}
}

legend {
	padding: 0 0.25em;
}

/************
*
* Select boxes
*
*************/

select {
	border: 1px solid #757575;
	border-radius: 0.25em;
	width: 100%;
	height: 2.5em;
	font-size: 1em;
	padding: 0 0 0 1.875em;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	margin-top: 0.75em;
	option:disabled {
		display: none;
	}
}

.select-container {
	position:relative;
	max-width: 33.5em;
	&:after {
		content: '\1F893';
		position: absolute;
		top: 0.675em;
		right: 0.5em;
		color: #2774AE;
		font-size: 1.9em;
		vertical-align: middle;
		pointer-events: none;
	}
}

/* IE11 hide native button */
select::-ms-expand {
	display: none;
}

/************
*
* Checkboxes
*
*************/


/* Customize the label (the checkbox) */
.checkbox {
	display: block;
	position: relative;
	padding-left: 2.25em;
	margin-bottom: 0.75em;
	margin-top: 0.75em;
	cursor: pointer;
	font-size: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #262626;
	line-height:1.5em;
	&:active {
		color: #003B5C;
	}
}

/* Hide the browser's default checkbox */
.checkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 1.5em;
	width: 1.5em;
	background-color: transparent;
	border:1px solid #757575;
	border-radius: 0.25em;
}

/* On mouse-over, add a blue background color */
.checkbox:hover input ~ .checkmark {
	background-color: #0052E0;
}

/* When the checkbox is checked, add a dark blue background */
.checkbox input:checked ~ .checkmark {
	background-color: #003B5C;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
	left: 0.5em;
	top: 0.188em;
	width: 0.438em;
	height: 0.875em;
	border: solid white;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

/************
*
* Radio buttons
*
*************/

 /* Customize the label (the radio button) */
.radio-button {
	display: block;
	position: relative;
	padding-left: 2.25em;
	margin-bottom: 0.75em;
	margin-top: 0.75em;
	cursor: pointer;
	font-size: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #262626;
	line-height:1.5em;
}

/* Hide the browser's default radio button */
.radio-button input {
	position: absolute;
	opacity: 0;
}

/* Create a custom radio button */
.radio-checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 1.5em;
	width: 1.5em;
	background-color: white;
	border-radius: 50%;
	border:1px solid #757575;
}

/* On mouse-over, add a blue background color */
.radio-button:hover input ~ .radio-checkmark {
	background-color: #0052E0;
	box-shadow: 0 0 0 4px #fff inset;
}

/* When the radio button is checked, add a dark blue background */
.radio-button input:checked ~ .radio-checkmark {
	background-color: #fff;
	border: 2px solid #003B5C;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-checkmark:after {
	content: '';
	position: absolute;
	display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-button input:checked ~ .radio-checkmark:after {
	display: block;
	top: 0.175em;
	left: 0.169em;
}

/* Style the indicator (dot/circle) */
.radio-button .radio-checkmark:after {
	top: 0.25em;
	left: 0.25em;
	width: 0.938em;
	height: 0.938em;
	border-radius: 50%;
	background: #003B5C;
} 




