<fieldset>
    <div class="field-container">
        <label>Select</label>
		<div class="select-container">
			<select id="select">
				<option selected disabled>- Select -</option>
				<option>Epsum factorial non deposit quid pro quo hic escoral</option>
				<option>Epsum factorial non deposit quid pro quo hic escoral</option>
				<option>Lorem ipsum dolor sit ameto</option>
				<option>Epsum factorial non deposit quid pro quo hic escoral</option>
				<option>Epsum factorial non deposit quid pro quo hic escoral</option>
			</select>
		<div>
    </div>
</fieldset>