<form action="#">
    <fieldset class="options">
        <legend>Checkbox <abbr title="Required">*</abbr></legend>
        <ul>
            <li class="checkbox">
				<label class="checkbox">Choice 1
				<input type="checkbox" checked="checked">
				<span class="checkmark"></span>
				</label>
			</li>
            <li class="checkbox">
				<label class="checkbox">Choice 2
				<input type="checkbox">
				<span class="checkmark"></span>
				</label>			
			</li>
            <li class="checkbox">
				<label class="checkbox">Choice 3
				<input type="checkbox">
				<span class="checkmark"></span>
				</label>			
			</li>
        </ul>
    </fieldset>	
</form>