<form action="#">
    <fieldset class="options grid">
        <legend>Radio</legend>
        <ul>
            <li class="radio-button">
				<label class="radio-button">Choice 1
				<input name="radio" type="radio" checked="checked">
				<span class="radio-checkmark"></span>
				</label>
			</li>
            <li class="radio-button">
				<label class="radio-button">Choice 2
				<input name="radio" type="radio">
				<span class="radio-checkmark"></span>
				</label>			
			</li>
            <li class="radio-button">
				<label class="radio-button">Choice 3
				<input name="radio" type="radio">
				<span class="radio-checkmark"></span>
				</label>			
			</li>
        </ul>
    </fieldset>
</form>