<form action="#">
    <fieldset class="options grid">
        <legend>Radio</legend>
        <ul class="custom-radio">
			<li class="radio-button-container">
				<input type="radio" id="choice1" name="choices" value="1" checked>
				<label for="choice1"><span></span>Choice 1</label>
			</li>
			<li class="radio-button-container">
				<input type="radio" id="choice2" name="choices" value="2">
				<label for="choice2"><span></span>Choice 2</label>
			</li>
			<li class="radio-button-container">
				<input type="radio" id="choice3" name="choices" value="3">
				<label for="choice3"><span></span>Choice 3</label>
			</li>
		</ul>
    </fieldset>
</form>
