html {
  box-sizing: border-box;
  font-size: $font-size-base;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	background: $white;
	font-family: $font;
	-webkit-text-size-adjust: 100%;
	color: $gray-dark;
}