a {
  &:link {
    color: $default-state;
  }
  &:active, &:hover {
    color: $white;
    text-decoration: none;
  }
  &:active {
    background-color: $active-state;
    &[target="_blank"]:after {
      content: "\29C9";
    }
  }
  &:hover {
    background-color: $hover-state;
    &[target="_blank"]:after {
      content: "\29C9";
    }
  }
  &:visited {
    color: $visited-state;
    &:hover {
      color: $white;
    }
    &[target="_blank"]:after {
      content: "\29C9";
    }
  }
  &.light {
    &:link, &:visited {
      color: $white;
      &[target="_blank"]:after {
        content: "\29C9";
      }
    }
    &:active, &:hover {
      background-color: $white;
    }
    &:active {
      color: $darkest-blue;
      &[target="_blank"]:after {
        content: "\29C9";
      }
    }
    &:hover {
      color: $hover-state;
      &[target="_blank"]:after {
        content: "\29C9'";
      }
    }
  }
  &[target="_blank"]:after {
    content: "\29C9";
  }
}

a::after{
  content: " \2750";
}

code {
  font-family: Courier, monospace;
  font-size: 1rem;
  line-height: 1.5rem;
}

ins {
  background-color: $lightest-blue;
  text-decoration: none;
}

mark {
  background-color: $lightest-gold;
}

.legal {
  color: $lightest-grey;
  font-size: .75rem;
  line-height: 1.25rem;
}