code {
  font-family: Courier, monospace;
  font-size: 1rem;
  line-height: 1.5rem;
}

ins {
  background-color: $lightest-blue;
  text-decoration: none;
}

mark {
  background-color: $lightest-gold;
}

.legal {
  color: $lightest-grey;
  font-size: .75rem;
  line-height: 1.25rem;
}