blockquote {
  border-left: $ucla-blue;
  border-left-style: solid;
  border-left-width: 8px;
  padding: 0 0 5px 25px;
}
cite {
  color: $medium-grey2;
  display: block;
  font-style: normal;
  margin-top: 26px;
}