<div class="text list">
	<ul>
		<li>Lorem ipsum dolor sit amet.</li>
		<li>Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. Souvlaki ignitus carborundum. </li>
		<li>Nibh euismod tincidunt ut.
			<ul>
				<li>Laoreet dolore magna aliquam erat.</li>
			</ul>
		</li>
		<li>Ut wisi enim ad.</li>
	</ul>
</div>