// PRIMARY COLORS
$ucla-blue: #2774AE;
$ucla-gold: #FFD100;
$white: #FFFFFF;

// SECONDARY COLORS
$lightest-blue: #DAEBFE;
$lighter-blue: #8BB8E8;
$darker-blue: #005587;
$darkest-blue: #003B5C;
$lightest-gold: #FFF0A5;
$lighter-gold: #FFDF42;
$darker-gold: #FFC72C;
$darkest-gold: #FFB81C;

// BACKGROUND COLORS
$light-grey: #EBEBEB;

// TEXT COLORS
$dark-grey: #262626;
$lightest-grey: #757575;
$lighter-grey: #454545;
$medium-grey: #424242;

// BUTTON / LINK STATE COLORS
$default-state: #0B6EA6;
$hover-state: #0052E0;
$active-state: #003B5C;
$focus-state: #0052E0;
$disabled-state: #5E5E5E;
$visited-state: #5223B0;

.ucla-blue {
	background: $ucla-blue;
}

.ucla-gold {
	background: $ucla-gold;
}

.white {
	background: $white;
}

.lightest-blue {
	background: $lightest-blue;
}

.lighter-blue {
	background: $lighter-blue;
}

.darker-blue {
	background: $darker-blue;
}

.darkest-blue {
	background: $darkest-blue;
}

.lightest-gold {
	background: $lightest-gold;
}

.lighter-gold {
	background: $lighter-gold;
}

.darker-gold {
	background: $darker-gold;
}

.darkest-gold {
	background: $darkest-gold;
}

.light-grey {
	background: $light-grey;
}

.dark-grey {
	background: $dark-grey;
}

.lighter-grey {
	background: $lighter-grey;
}

.default-state {
	background: $default-state;
}

.hover-state {
	background: $hover-state;
}

.active-state {
	background: $active-state;
}

.focus-state {
	background: $focus-state;
}

.disabled-state {
	background: $disabled-state;
}

.visited-state {
	background: $visited-state;
}
