//define main container
.grid-container {
  width: 100%;
  justify-content: center;
  background: $tempContainerBackground;
}

// set margins for grid-container at various breakpoints
@each $breakpoint, $margin in $grid-container-margins {
  @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
    .grid-container {
      margin:0 $margin;
    }
  }
}

.grid {
  // establish grid styles
  width: 100% - get-gutter-as-percentage('xs', $grid-gutter-widths, $grid-breakpoints);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat($grid-columns, 1fr);
  grid-template-rows: 1fr;
  column-gap: get-gutter-as-percentage('xs', $grid-gutter-widths, $grid-breakpoints) / 2;
  grid-column-gap: get-gutter-as-percentage('xs', $grid-gutter-widths, $grid-breakpoints) / 2;
  height: 80px;
}

.col {
	display: flex;
  justify-content: center;
  align-items: center;
	background: $tempColumnBackground;
}

// build numbered column classes
@each $breakpoint in map-keys($grid-breakpoints) {
  @for $i from 1 through $grid-columns {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    // "infix" column classes
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      // this gets duped when the "breakpoint-infix" function returns an empty string
      // i.e. we don't have a infix value for "xs"
      // .col-#{$i} {
      //   @include make-col($i, $columns);
      // }

      .col#{$infix}-#{$i} {
        grid-column-start: span $i;
      }

      // do offset classes here
    }


  }
}
