//define main container
.grid-container {
  width: 100%;
  justify-content: center;
  background: $tempContainerBackground;
}

// set margins for grid-container at various breakpoints
@each $breakpoint, $margin in $grid-container-margins {
  @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
    margin:0 $margin;
  }
}

.grid {
  @include make-grid();
  height: 80px;
}

.col {
	display: flex;
  justify-content: center;
  align-items: center;
	background: $tempColumnBackground;
}
