.table-container {
	width: 80%;
	margin: 0 auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.table {
	th, td {
		box-sizing: border-box;
		padding: 16px;
	}

	th {
		height: 56px;
		border-bottom: 2px solid $darker-blue;
		background-color: $white;
		text-align: left;
		font-size: 1rem;
		line-height: 1.5rem;
	}

	td {
		border-bottom: 1px solid $lightest-grey;
	}

	a:link,
	a:visited,
	a:hover,
	a:active {
		color: $black;
		text-decoration: none;
	}

	th a, td a {
		display: block;
		width: 100%;
	}

	th a.sort-by {
		padding-right: 18px;
		position: relative;
	}

	a.sort-by:before,
	a.sort-by:after {
		border: 4px solid transparent;
		content: '';
		display: block;
		height: 0;
		right: 5px;
		top: 50%;
		position: absolute;
		width: 0;
	}

	a.sort-by:before {
		border-bottom-color: $default-state;
		margin-top: -9px;
	}

	a.sort-by:after {
		border-top-color: $default-state;
		margin-top: 1px;
	}

	.highlight {
		background-color: $light-grey;
	}

	&.table-bordered {
		th {
			border: 1px solid $darker-blue;
			background-color: $ucla-blue;
			color: $white;
		}

		td {
			border: 1px solid $lightest-grey;
		}

		a:link,
		a:visited,
		a:hover,
		a:active {
			color: $white;
		}

		a.sort-by:before {
			border-bottom-color: $white;
		}

		a.sort-by:after {
			border-top-color: $white;
		}
	}
}

caption {
	margin: 16px;
	text-align: left;
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: bold;
}

// RESPONSIVE TABLES
// Generate series of `.table-responsive-*` classes for configuring the screen size of where your table will overflow.
.table-responsive {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    &#{$infix} {
      @include media-breakpoint-down($breakpoint) {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar; // See https://github.com/twbs/bootstrap/pull/10057

        // Prevent double border on horizontal scroll due to use of `display: block;`
        > .table-bordered {
          border: 0;
        }
      }
    }
  }
}
