/*
 * Base / Framework includes
 * These are done without fancy references because:
 *  1) There shouldn't be too many of them (yeah right)
 *  2) We can have naming conflicts this way
 *  3) They're utility includes that don't produce styles on their own - think of them as "devDependencies"
 *  4) We don't need as many messy references in `webpack.config.js`
 */
/*------------------------------------*\
    $RESET
\*------------------------------------*/
/* Border-Box http:/paulirish.com/2012/box-sizing-border-box-ftw/ */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, legend, label, table, header, footer, nav, section, figure {
  margin: 0;
  padding: 0; }

header, footer, nav, section, article, hgroup, figure {
  display: block; }

/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/*
 * Grid parameter defaults
 * These are used to customize the grid layout
 * Feel free to overwrite them as necessary
 */
/* variables that have been marked for deprecation */
/*
 * colors for patternlab use only
 * should not used on brand site or in production
 * they can be renamed freely (as long as references are updated)
 * brand colors should be stored in `src/sass/_patterns/00-atoms/01-global/_colors.scss`
 */
/* this is all from Bootstrap */
/*
 * Grid utilities
 */
/*
 * Begin pattern includes
 * See `webpack.common.js` for aliasing
 */
@media (min-width: 576px) {
  .grid {
    margin: 0 18px; } }

@media (min-width: 768px) {
  .grid {
    margin: 0 24px; } }

@media (min-width: 1024px) {
  .grid {
    margin: 0 30px; } }

@media (min-width: 1280px) {
  .grid {
    margin: 0 40px; } }

@media (min-width: 576px) {
  .grid {
    width: 93.75%;
    max-width: 540px; } }

@media (min-width: 768px) {
  .grid {
    width: 93.75%;
    max-width: 720px; } }

@media (min-width: 1024px) {
  .grid {
    width: 93.75%;
    max-width: 960px; } }

@media (min-width: 1280px) {
  .grid {
    width: 93.75%;
    max-width: 1200px; } }

.grid {
  width: 100%;
  height: 80px;
  padding: 0 1.38894%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  column-gap: 2.77787%;
  grid-column-gap: 2.77787%;
  background: rgba(0, 255, 255, 0.3); }

.col {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 0, 255, 0.3); }

.col-1 {
  grid-column-start: span 1; }

.col-2 {
  grid-column-start: span 2; }

.col-3 {
  grid-column-start: span 3; }

.col-4 {
  grid-column-start: span 4; }

.col-5 {
  grid-column-start: span 5; }

.col-6 {
  grid-column-start: span 6; }

.col-7 {
  grid-column-start: span 7; }

.col-8 {
  grid-column-start: span 8; }

.col-9 {
  grid-column-start: span 9; }

.col-10 {
  grid-column-start: span 10; }

.col-11 {
  grid-column-start: span 11; }

.col-12 {
  grid-column-start: span 12; }

@media (min-width: 576px) {
  .col-sm-1 {
    grid-column-start: span 1; } }

@media (min-width: 576px) {
  .col-sm-2 {
    grid-column-start: span 2; } }

@media (min-width: 576px) {
  .col-sm-3 {
    grid-column-start: span 3; } }

@media (min-width: 576px) {
  .col-sm-4 {
    grid-column-start: span 4; } }

@media (min-width: 576px) {
  .col-sm-5 {
    grid-column-start: span 5; } }

@media (min-width: 576px) {
  .col-sm-6 {
    grid-column-start: span 6; } }

@media (min-width: 576px) {
  .col-sm-7 {
    grid-column-start: span 7; } }

@media (min-width: 576px) {
  .col-sm-8 {
    grid-column-start: span 8; } }

@media (min-width: 576px) {
  .col-sm-9 {
    grid-column-start: span 9; } }

@media (min-width: 576px) {
  .col-sm-10 {
    grid-column-start: span 10; } }

@media (min-width: 576px) {
  .col-sm-11 {
    grid-column-start: span 11; } }

@media (min-width: 576px) {
  .col-sm-12 {
    grid-column-start: span 12; } }

@media (min-width: 768px) {
  .col-md-1 {
    grid-column-start: span 1; } }

@media (min-width: 768px) {
  .col-md-2 {
    grid-column-start: span 2; } }

@media (min-width: 768px) {
  .col-md-3 {
    grid-column-start: span 3; } }

@media (min-width: 768px) {
  .col-md-4 {
    grid-column-start: span 4; } }

@media (min-width: 768px) {
  .col-md-5 {
    grid-column-start: span 5; } }

@media (min-width: 768px) {
  .col-md-6 {
    grid-column-start: span 6; } }

@media (min-width: 768px) {
  .col-md-7 {
    grid-column-start: span 7; } }

@media (min-width: 768px) {
  .col-md-8 {
    grid-column-start: span 8; } }

@media (min-width: 768px) {
  .col-md-9 {
    grid-column-start: span 9; } }

@media (min-width: 768px) {
  .col-md-10 {
    grid-column-start: span 10; } }

@media (min-width: 768px) {
  .col-md-11 {
    grid-column-start: span 11; } }

@media (min-width: 768px) {
  .col-md-12 {
    grid-column-start: span 12; } }

@media (min-width: 1024px) {
  .col-lg-1 {
    grid-column-start: span 1; } }

@media (min-width: 1024px) {
  .col-lg-2 {
    grid-column-start: span 2; } }

@media (min-width: 1024px) {
  .col-lg-3 {
    grid-column-start: span 3; } }

@media (min-width: 1024px) {
  .col-lg-4 {
    grid-column-start: span 4; } }

@media (min-width: 1024px) {
  .col-lg-5 {
    grid-column-start: span 5; } }

@media (min-width: 1024px) {
  .col-lg-6 {
    grid-column-start: span 6; } }

@media (min-width: 1024px) {
  .col-lg-7 {
    grid-column-start: span 7; } }

@media (min-width: 1024px) {
  .col-lg-8 {
    grid-column-start: span 8; } }

@media (min-width: 1024px) {
  .col-lg-9 {
    grid-column-start: span 9; } }

@media (min-width: 1024px) {
  .col-lg-10 {
    grid-column-start: span 10; } }

@media (min-width: 1024px) {
  .col-lg-11 {
    grid-column-start: span 11; } }

@media (min-width: 1024px) {
  .col-lg-12 {
    grid-column-start: span 12; } }

@media (min-width: 1280px) {
  .col-xl-1 {
    grid-column-start: span 1; } }

@media (min-width: 1280px) {
  .col-xl-2 {
    grid-column-start: span 2; } }

@media (min-width: 1280px) {
  .col-xl-3 {
    grid-column-start: span 3; } }

@media (min-width: 1280px) {
  .col-xl-4 {
    grid-column-start: span 4; } }

@media (min-width: 1280px) {
  .col-xl-5 {
    grid-column-start: span 5; } }

@media (min-width: 1280px) {
  .col-xl-6 {
    grid-column-start: span 6; } }

@media (min-width: 1280px) {
  .col-xl-7 {
    grid-column-start: span 7; } }

@media (min-width: 1280px) {
  .col-xl-8 {
    grid-column-start: span 8; } }

@media (min-width: 1280px) {
  .col-xl-9 {
    grid-column-start: span 9; } }

@media (min-width: 1280px) {
  .col-xl-10 {
    grid-column-start: span 10; } }

@media (min-width: 1280px) {
  .col-xl-11 {
    grid-column-start: span 11; } }

@media (min-width: 1280px) {
  .col-xl-12 {
    grid-column-start: span 12; } }

.table-container {
  width: 80%;
  margin: 0 auto; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; }

.table th, .table td {
  box-sizing: border-box;
  padding: 16px; }

.table th {
  height: 56px;
  border-bottom: 2px solid #005587;
  background-color: #FFFFFF;
  text-align: left;
  font-size: 16px;
  line-height: 24px; }

.table td {
  border-bottom: 1px solid #757575; }

.table a:link,
.table a:visited,
.table a:hover,
.table a:active {
  color: #000000;
  text-decoration: none; }

.table th a, .table td a {
  display: block;
  width: 100%; }

.table th a.sort-by {
  padding-right: 18px;
  position: relative; }

.table a.sort-by:before,
.table a.sort-by:after {
  border: 4px solid transparent;
  content: '';
  display: block;
  height: 0;
  right: 5px;
  top: 50%;
  position: absolute;
  width: 0; }

.table a.sort-by:before {
  border-bottom-color: #0B6EA6;
  margin-top: -9px; }

.table a.sort-by:after {
  border-top-color: #0B6EA6;
  margin-top: 1px; }

.table .highlight {
  background-color: #EBEBEB; }

.table.table-bordered th {
  border: 1px solid #005587;
  background-color: #2774AE;
  color: #FFFFFF; }

.table.table-bordered td {
  border: 1px solid #757575; }

.table.table-bordered a:link,
.table.table-bordered a:visited,
.table.table-bordered a:hover,
.table.table-bordered a:active {
  color: #FFFFFF; }

.table.table-bordered a.sort-by:before {
  border-bottom-color: #FFFFFF; }

.table.table-bordered a.sort-by:after {
  border-top-color: #FFFFFF; }

caption {
  margin: 16px;
  text-align: left;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold; }

@media (max-width: 575.98px) {
  .table-responsive-sm {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar; }
    .table-responsive-sm > .table-bordered {
      border: 0; } }

@media (max-width: 767.98px) {
  .table-responsive-md {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar; }
    .table-responsive-md > .table-bordered {
      border: 0; } }

@media (max-width: 1023.98px) {
  .table-responsive-lg {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar; }
    .table-responsive-lg > .table-bordered {
      border: 0; } }

@media (max-width: 1279.98px) {
  .table-responsive-xl {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar; }
    .table-responsive-xl > .table-bordered {
      border: 0; } }

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; }
  .table-responsive > .table-bordered {
    border: 0; }

.ucla-blue {
  background: #2774AE; }

.ucla-gold {
  background: #FFD100; }

.white {
  background: #FFFFFF; }

.lightest-blue {
  background: #DAEBFE; }

.lighter-blue {
  background: #8BB8E8; }

.darker-blue {
  background: #005587; }

.darkest-blue {
  background: #003B5C; }

.lightest-gold {
  background: #FFF0A5; }

.lighter-gold {
  background: #FFDF42; }

.darker-gold {
  background: #FFC72C; }

.darkest-gold {
  background: #FFB81C; }

.light-grey {
  background: #EBEBEB; }

.dark-grey {
  background: #262626; }

.lighter-grey {
  background: #454545; }

.default-state {
  background: #0B6EA6; }

.hover-state {
  background: #0052E0; }

.active-state {
  background: #003B5C; }

.focus-state {
  background: #0052E0; }

.disabled-state {
  background: #5E5E5E; }

.visited-state {
  background: #5223B0; }

p {
  font-size: 1rem;
  line-height: 1.5rem; }

.lead {
  font-size: 1.5rem;
  line-height: 2rem; }

.caption {
  font-size: .75rem;
  line-height: 1.25rem; }

html {
  box-sizing: border-box;
  font-size: 100%; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  background: #FFFFFF;
  font-family: "Helvetica", "Arial", sans-serif;
  -webkit-text-size-adjust: 100%;
  color: #262626; }

/* Headings */
/*Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ */
h1, .h1 {
  font-size: 3.375rem;
  line-height: 4.5rem; }

h2, .h2 {
  font-size: 2.25rem;
  line-height: 3rem; }

h3, .h3 {
  font-size: 1.5rem;
  line-height: 2rem; }

h4, .h4 {
  font-size: 1.125rem;
  line-height: 1.5rem; }

h5, .h5, .contextual-header {
  font-size: 1rem;
  line-height: 1.375rem; }

h6, .h6 {
  font-size: 0.667rem;
  line-height: 1rem; }

.display {
  font-size: 4.5rem;
  font-weight: bold;
  line-height: 5rem; }

.contextual-header {
  color: #424242;
  font-weight: bold; }

/* Subheadings */
.subheading {
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: normal; }

a:link {
  color: #0B6EA6; }

a:active, a:hover {
  color: #FFFFFF;
  text-decoration: none; }

a:active {
  background-color: #003B5C; }

a:hover {
  background-color: #0052E0; }

a:visited {
  color: #5223B0; }

a.light:link, a.light:visited {
  color: #FFFFFF; }

a.light:active, a.light:hover {
  background-color: #FFFFFF; }

a.light:active {
  color: #003B5C; }

a.light:hover {
  color: #0052E0; }

code {
  font-family: Courier, monospace;
  font-size: 1rem;
  line-height: 1.5rem; }

ins {
  background-color: #DAEBFE;
  text-decoration: none; }

mark {
  background-color: #FFF0A5; }

.legal {
  color: #757575;
  font-size: .75rem;
  line-height: 1.25rem; }

blockquote {
  border-left: #2774AE;
  border-left-style: solid;
  border-left-width: 8px;
  padding: 0 0 5px 25px; }

cite {
  color: #525252;
  display: block;
  font-style: normal;
  margin-top: 26px; }

