<span class="display">Display lorem ipsum<br />dolor sit amet</span>
<h1>H1 Title lorem ipsum dolor sit<br />amet consectetuer</h1>
<h2>H2 Subhead lorem ipsum dolor sit amet<br />consectetuer adipiscing</h2>
<h3>H3 Subhead lorem ipsum dolor sit amet<br />consectetuer adipiscing</h3>  
<h4>H4 Subhead lorem ipsum dolor sit amet<br />consectetuer adipiscing</h4>
<h5>H5 Subhead lorem ipsum dolor sit amet<br />consectetuer adipiscing</h5> 
<h6>H6 Subhead lorem ipsum dolor sit amet<br />consectetuer adipiscing</h6>
<span class="contextual-header">Contextual heading can be used with heading 2 and heading 3</span>