<span class="display">Display. Lorem Ipsum<br />Consectetuer adipiscing elit</span>
<h1>H1. Lorem Ipsum<br />Consectetuer adipiscing elit</h1>
<h2>H2. Lorem Ipsum<br />Consectetuer adipiscing elit</h2>
<h3>H3. Lorem Ipsum<br />Consectetuer adipiscing elit</h3>  
<h4>H4. Lorem Ipsum<br />Consectetuer adipiscing elit</h4>
<h5>H5. Lorem Ipsum<br />Consectetuer adipiscing elit</h5> 
<h6>H6. Lorem Ipsum<br />Consectetuer adipiscing elit</h6>
<span class="contextual-header">Contextual heading can be used with Heading 2 and Heading 3</span>