<div class="text">
	<p><a href="#">This is a text link</a></p>
	
  <!-- <p><a href="#" target="_blank">This is an external text link</a></p> -->
	
  <p class="ucla-blue"><a class="light" href="#">This is a light text link</a></p>
  
  <!-- <p class="ucla-blue"><a class="light" href="#" target="_blank">This is an external light text link</a></p> -->

	<p>This sentence contains <strong>text styled as strong.</strong></p>

	<p>This sentence contains <em>text styled as emphasis.</em></p>

	<p>This sentence contains <del>text styled as deleted</del>.</p>

	<p>This sentence contains text that has been <ins>inserted</ins>.</p>

  <p>This sentence contains text that has been <mark>marked</mark>.</p>

	<p class="legal">Legal copy. Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. Souvlaki ignitus carborundum e pluribus unum. Defacto lingo est igpay atinlay. Marquee selectus non provisio incongruous feline nolo contendre.</p>

  <p><code>&ltcode&gtA piece of computer code&lt/code&gt</code></p>
</div><!--end .text-->