<div class="text">
	<p><a href="#">This is a text link</a></p>

	<p><strong>Strong is used to indicate strong importance</strong></p>

	<p><em>This text has added emphasis</em></p>

	<p><del>This text is deleted</del></p>

	<p><ins>This text is inserted</ins></p>

  <p>The <mark>mark element</mark> indicates a highlight</p>

	<p class="legal">Legal copy. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla a nunc ultricies, elementum dolor et, tempus diam. Ut fringilla urna in ex convallis suscipit. Nunc tincidunt sagittis sem, elementum blandit augue tempus eget. Ut pellentesque, eros et fringilla pellentesque, est justo finibus tellus, in semper quam velit vel metus.</p>

  <p><code>This is what inline code looks like.</code></p>
</div><!--end .text-->