/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

//Typography
$font : "Helvetica", "Arial", sans-serif;
$font-secondary : "Helvetica", "Arial", sans-serif;

$font-size-base : 100%;

/*
 * Grid parameter defaults
 * These are used to customize the grid layout
 * Feel free to overwrite them as necessary
 */

$grid-columns: 12 !default;

$grid-breakpoints: (
  xs: 0px,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1280px
) !default;

$grid-gutter-widths: (
  xs: 32px,
  sm: 32px,
  md: 32px,
  lg: 32px,
  xl: 32px
) !default;

$grid-container-margins: (
  sm: 18px,
  md: 24px,
  lg: 30px,
  xl: 40px
) !default;

/* variables that have been marked for deprecation */
// this may reappear as containers get designed
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px
) !default;



/*
 * colors for patternlab use only
 * should not used on brand site or in production
 * they can be renamed freely (as long as references are updated)
 * brand colors should be stored in `src/sass/_patterns/00-atoms/01-global/_colors.scss`
 */
$bgColorTest: blue;
$tempColumnBackground: rgba(255,0,255,0.3);
$tempContainerBackground: rgba(0,255,255,0.3);
