{# PRIMARY COLORS #}
<h2>Primary Colors</h2>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch ucla-blue"></span>
		<div class="sg-label">UCLA Blue</div>
		<div class="sg-label">RGB 39, 116, 174</div>
		<div class="sg-label">Hex #2774AE</div>
	</li>
	<li>
		<span class="sg-swatch ucla-gold"></span>
		<div class="sg-label">UCLA Gold</div>
		<div class="sg-label">RGB 255, 209, 0</div>
		<div class="sg-label">Hex #FFD100</div>
	</li>
	<li>
		<span class="sg-swatch white"></span>
		<div class="sg-label">White</div>
		<div class="sg-label">RGB 255, 255, 255</div>
		<div class="sg-label">#FFFFFF</div>
	</li>
</ul>

{# SECONDARY COLORS #}
<h2>Secondary Colors</h2>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch lightest-blue"></span>
		<div class="sg-label">Lightest Blue</div>
		<div class="sg-label">RGB 218, 235, 254</div>
		<div class="sg-label">#DAEBFE</div>
	</li>
	<li>
		<span class="sg-swatch lighter-blue"></span>
		<div class="sg-label">Lighter Blue</div>
		<div class="sg-label">RGB 139, 184, 232</div>
		<div class="sg-label">#8BB8E8</div>
	</li>
	<li>
		<span class="sg-swatch darker-blue"></span>
		<div class="sg-label">Darker Blue</div>
		<div class="sg-label">RGB 0, 85, 135</div>
		<div class="sg-label">#005587</div>
	</li>
	<li>
		<span class="sg-swatch darkest-blue"></span>
		<div class="sg-label">Darkest Blue</div>
		<div class="sg-label">RGB 0, 59, 92</div>
		<div class="sg-label">#003B5C</div>
	</li>
</ul>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch lightest-gold"></span>
		<div class="sg-label">Lightest Gold</div>
		<div class="sg-label">RGB 255, 240, 165</div>
		<div class="sg-label">#FFF0A5</div>
	</li>
	<li>
		<span class="sg-swatch lighter-gold"></span>
		<div class="sg-label">Lighter Gold</div>
		<div class="sg-label">RGB 255, 223, 66</div>
		<div class="sg-label">#FFDF42</div>
	</li>
	<li>
		<span class="sg-swatch darker-gold"></span>
		<div class="sg-label">Darker Gold</div>
		<div class="sg-label">RGB 255, 199, 44</div>
		<div class="sg-label">#FFC72C</div>
	</li>
	<li>
		<span class="sg-swatch darkest-gold"></span>
		<div class="sg-label">Darkest Gold</div>
		<div class="sg-label">RGB 255, 184, 28</div>
		<div class="sg-label">#FFB81C</div>
	</li>
</ul>

{# BACKGROUND COLORS #}
<h2>Background Colors</h2>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch white"></span>
		<div class="sg-label">White</div>
		<div class="sg-label">RGB 255, 255, 255</div>
		<div class="sg-label">#FFFFFF</div>
	</li>
	<li>
		<span class="sg-swatch light-grey"></span>
		<div class="sg-label">Light Grey</div>
		<div class="sg-label">RGB 235, 235, 235</div>
		<div class="sg-label">#EBEBEB</div>
	</li>
	<li>
		<span class="sg-swatch ucla-blue"></span>
		<div class="sg-label">UCLA Blue</div>
		<div class="sg-label">RGB 39, 116, 174</div>
		<div class="sg-label">Hex #2774AE</div>
	</li>
	<li>
		<span class="sg-swatch darker-blue"></span>
		<div class="sg-label">Darker Blue</div>
		<div class="sg-label">RGB 0, 85, 135</div>
		<div class="sg-label">#005587</div>
	</li>
	<li>
		<span class="sg-swatch darkest-blue"></span>
		<div class="sg-label">Darkest Blue</div>
		<div class="sg-label">RGB 0, 59, 92</div>
		<div class="sg-label">#003B5C</div>
	</li>
</ul>

{# TEXT COLORS #}
<h2>Text Colors</h2>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch white"></span>
		<div class="sg-label">White</div>
		<div class="sg-label">RGB 255, 255, 255</div>
		<div class="sg-label">#FFFFFF</div>
	</li>
	<li>
		<span class="sg-swatch dark-grey"></span>
		<div class="sg-label">Dark Grey</div>
		<div class="sg-label">RGB 36, 36, 36</div>
		<div class="sg-label">#262626</div>
	</li>
	<li>
		<span class="sg-swatch lighter-grey"></span>
		<div class="sg-label">Lighter Grey</div>
		<div class="sg-label">RGB 69, 69, 69</div>
		<div class="sg-label">#454545</div>
	</li>
</ul>

{# BUTTON / LINK STATE COLORS #}
<h2>Button / Link State Colors</h2>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch default-state"></span>
		<div class="sg-label">Default State</div>
		<div class="sg-label">RGB 11, 110, 168</div>
		<div class="sg-label">#0D4687</div>
	</li>
	<li>
		<span class="sg-swatch hover-state"></span>
		<div class="sg-label">Hover State</div>
		<div class="sg-label">RGB 0, 82, 224</div>
		<div class="sg-label">#0052E0</div>
	</li>
	<li>
		<span class="sg-swatch active-state"></span>
		<div class="sg-label">Active State</div>
		<div class="sg-label">RGB 0, 59, 92</div>
		<div class="sg-label">#003B5C</div>
	</li>
	<li>
		<span class="sg-swatch focus-state"></span>
		<div class="sg-label">Focus State</div>
		<div class="sg-label">RGB 0, 82, 224</div>
		<div class="sg-label">#0052E0</div>
	</li>
	<li>
		<span class="sg-swatch disabled-state"></span>
		<div class="sg-label">Disabled State</div>
		<div class="sg-label">RGB 94, 94, 94</div>
		<div class="sg-label">#5E5E5E</div>
	</li>
	<li>
		<span class="sg-swatch visited-state"></span>
		<div class="sg-label">Visited State</div>
		<div class="sg-label">RGB 82, 35, 176</div>
		<div class="sg-label">#5223B0</div>
	</li>
</ul>
