{# PRIMARY COLORS #}
<h2>Primary Colors</h2>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #2774AE;"></span>
		<div class="sg-label">UCLA Blue</div>
		<div class="sg-label">RGB 39, 116, 174</div>
		<div class="sg-label">Hex #2774AE</div>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FFD100;"></span>
		<div class="sg-label">UCLA Gold</div>
		<div class="sg-label">RGB 255, 209, 0</div>
		<div class="sg-label">Hex #FFD100</div>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FFFFFF;"></span>
		<div class="sg-label">White</div>
		<div class="sg-label">RGB 255, 255, 255</div>
		<div class="sg-label">#FFFFFF</div>
	</li>
</ul>

{# SECONDARY COLORS #}
<h2>Secondary Colors</h2>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #DAEBFE;"></span>
		<div class="sg-label">Lightest Blue</div>
		<div class="sg-label">RGB 255, 255, 255</div>
		<div class="sg-label">#DAEBFE</div>
	</li>
	<li>
		<span class="sg-swatch" style="background: #8BB8E8;"></span>
		<div class="sg-label">Lighter Blue</div>
		<div class="sg-label">RGB 139, 184, 232</div>
		<div class="sg-label">#8BB8E8</div>
	</li>
	<li>
		<span class="sg-swatch" style="background: #005587;"></span>
		<div class="sg-label">Darker Blue</div>
		<div class="sg-label">RGB 0, 85, 135</div>
		<div class="sg-label">#005587</div>
	</li>
	<li>
		<span class="sg-swatch" style="background: #003B5C;"></span>
		<div class="sg-label">Darkest Blue</div>
		<div class="sg-label">RGB 0, 85, 135</div>
		<div class="sg-label">#003B5C</div>
	</li>
</ul>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #FFF0A5;"></span>
		<div class="sg-label">Lightest Gold</div>
		<div class="sg-label">RGB 255, 240, 165</div>
		<div class="sg-label">#FFF0A5</div>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FFDF42;"></span>
		<div class="sg-label">Lighter Gold</div>
		<div class="sg-label">RGB 255, 223, 66</div>
		<div class="sg-label">#FFDF42</div>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FFC72C;"></span>
		<div class="sg-label">Darker Gold</div>
		<div class="sg-label">RGB 255, 199, 44</div>
		<div class="sg-label">#FFC72C</div>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FFB81C;"></span>
		<div class="sg-label">Darkest Gold</div>
		<div class="sg-label">RGB 255, 184, 28</div>
		<div class="sg-label">#FFB81C</div>
	</li>
</ul>

{# BACKGROUND COLORS #}
<h2>Background Colors</h2>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #FFFFFF;"></span>
		<div class="sg-label">White</div>
		<div class="sg-label">RGB 255, 255, 255</div>
		<div class="sg-label">#FFFFFF</div>
	</li>
	<li>
		<span class="sg-swatch" style="background: #262626;"></span>
		<div class="sg-label">Black</div>
		<div class="sg-label">RGB 36, 36, 36</div>
		<div class="sg-label">#262626</div>
	</li>
	<li>
		<span class="sg-swatch" style="background: #404040;"></span>
		<div class="sg-label">Grey</div>
		<div class="sg-label">RGB 64, 64, 64</div>
		<div class="sg-label">#404040</div>
	</li>
</ul>

{# BUTTON / LINK STATE COLORS #}
<h2>Button / Link State Colors</h2>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #0D4687;"></span>
		<div class="sg-label">Default State</div>
		<div class="sg-label">RGB 13, 70, 135</div>
		<div class="sg-label">#0D4687</div>
	</li>
	<li>
		<span class="sg-swatch" style="background: #005EEB;"></span>
		<div class="sg-label">Hover State</div>
		<div class="sg-label">RGB 0, 94, 235</div>
		<div class="sg-label">#005EEB</div>
	</li>
	<li>
		<span class="sg-swatch" style="background: #002061;"></span>
		<div class="sg-label">Active State</div>
		<div class="sg-label">RGB 0, 32, 97</div>
		<div class="sg-label">#002061</div>
	</li>
	<li>
		<span class="sg-swatch" style="background: #005EEB;"></span>
		<div class="sg-label">Focus State</div>
		<div class="sg-label">RGB 0, 94, 235</div>
		<div class="sg-label">#005EEB</div>
	</li>
	<li>
		<span class="sg-swatch" style="background: #737373;"></span>
		<div class="sg-label">Disabled State</div>
		<div class="sg-label">RGB 115, 115, 115</div>
		<div class="sg-label">#737373</div>
	</li>
	<li>
		<span class="sg-swatch" style="background: #5223B0;"></span>
		<div class="sg-label">Visited State</div>
		<div class="sg-label">RGB 82, 35, 176</div>
		<div class="sg-label">#5223B0</div>
	</li>
</ul>
