{# PRIMARY COLORS #}
<h2>Primary Colors</h2>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch ucla-blue"></span>
		<div class="sg-label">UCLA Blue</div>
		<div class="sg-label">RGB 39, 116, 174</div>
		<div class="sg-label">Hex #2774AE</div>
	</li>
	<li>
		<span class="sg-swatch ucla-gold"></span>
		<div class="sg-label">UCLA Gold</div>
		<div class="sg-label">RGB 255, 209, 0</div>
		<div class="sg-label">Hex #FFD100</div>
	</li>
	<li>
		<span class="sg-swatch white"></span>
		<div class="sg-label">White</div>
		<div class="sg-label">RGB 255, 255, 255</div>
		<div class="sg-label">#FFFFFF</div>
	</li>
</ul>

{# SECONDARY COLORS #}
<h2>Secondary Colors</h2>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch lightest-blue"></span>
		<div class="sg-label">Lightest Blue</div>
		<div class="sg-label">RGB 218, 235, 254</div>
		<div class="sg-label">#DAEBFE</div>
	</li>
	<li>
		<span class="sg-swatch lighter-blue"></span>
		<div class="sg-label">Lighter Blue</div>
		<div class="sg-label">RGB 139, 184, 232</div>
		<div class="sg-label">#8BB8E8</div>
	</li>
	<li>
		<span class="sg-swatch darker-blue"></span>
		<div class="sg-label">Darker Blue</div>
		<div class="sg-label">RGB 0, 85, 135</div>
		<div class="sg-label">#005587</div>
	</li>
	<li>
		<span class="sg-swatch darkest-blue"></span>
		<div class="sg-label">Darkest Blue</div>
		<div class="sg-label">RGB 0, 59, 92</div>
		<div class="sg-label">#003B5C</div>
	</li>
</ul>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch lightest-gold"></span>
		<div class="sg-label">Lightest Gold</div>
		<div class="sg-label">RGB 255, 240, 165</div>
		<div class="sg-label">#FFF0A5</div>
	</li>
	<li>
		<span class="sg-swatch lighter-gold"></span>
		<div class="sg-label">Lighter Gold</div>
		<div class="sg-label">RGB 255, 223, 66</div>
		<div class="sg-label">#FFDF42</div>
	</li>
	<li>
		<span class="sg-swatch darker-gold"></span>
		<div class="sg-label">Darker Gold</div>
		<div class="sg-label">RGB 255, 199, 44</div>
		<div class="sg-label">#FFC72C</div>
	</li>
	<li>
		<span class="sg-swatch darkest-gold"></span>
		<div class="sg-label">Darkest Gold</div>
		<div class="sg-label">RGB 255, 184, 28</div>
		<div class="sg-label">#FFB81C</div>
	</li>
</ul>

{# BACKGROUND COLORS #}
<h2>Background Colors</h2>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch white"></span>
		<div class="sg-label">White</div>
		<div class="sg-label">RGB 255, 255, 255</div>
		<div class="sg-label">#FFFFFF</div>
	</li>
	<li>
		<span class="sg-swatch light-grey"></span>
		<div class="sg-label">Light Grey</div>
		<div class="sg-label">RGB 235, 235, 235</div>
		<div class="sg-label">#EBEBEB</div>
	</li>
	<li>
		<span class="sg-swatch ucla-blue"></span>
		<div class="sg-label">UCLA Blue</div>
		<div class="sg-label">RGB 39, 116, 174</div>
		<div class="sg-label">Hex #2774AE</div>
	</li>
	<li>
		<span class="sg-swatch darker-blue"></span>
		<div class="sg-label">Darker Blue</div>
		<div class="sg-label">RGB 0, 85, 135</div>
		<div class="sg-label">#005587</div>
	</li>
	<li>
		<span class="sg-swatch darkest-blue"></span>
		<div class="sg-label">Darkest Blue</div>
		<div class="sg-label">RGB 0, 59, 92</div>
		<div class="sg-label">#003B5C</div>
	</li>
</ul>

{# TEXT COLORS #}
<h2>Text Colors</h2>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch white"></span>
		<div class="sg-label">White</div>
		<div class="sg-label">RGB 255, 255, 255</div>
		<div class="sg-label">#FFFFFF</div>
	</li>
	<li>
		<span class="sg-swatch dark-grey"></span>
		<div class="sg-label">Dark Grey</div>
		<div class="sg-label">RGB 36, 36, 36</div>
		<div class="sg-label">#262626</div>
	</li>
	<li>
		<span class="sg-swatch lighter-grey"></span>
		<div class="sg-label">Lighter Grey</div>
		<div class="sg-label">RGB 69, 69, 69</div>
		<div class="sg-label">#454545</div>
	</li>
</ul>

{# Interactive Colors #}
<h2>Interactive Colors</h2>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch default-state"></span>
		<div class="sg-label">Default State</div>
		<div class="sg-label">RGB 11, 110, 166</div>
		<div class="sg-label">#0B6EA6</div>
	</li>
	<li>
		<span class="sg-swatch hover-state"></span>
		<div class="sg-label">Hover State</div>
		<div class="sg-label">RGB 0, 82, 224</div>
		<div class="sg-label">#0052E0</div>
	</li>
	<li>
		<span class="sg-swatch active-state"></span>
		<div class="sg-label">Active State</div>
		<div class="sg-label">RGB 0, 59, 92</div>
		<div class="sg-label">#003B5C</div>
	</li>
	<li>
		<span class="sg-swatch focus-state"></span>
		<div class="sg-label">Focus State</div>
		<div class="sg-label">RGB 0, 82, 224</div>
		<div class="sg-label">#0052E0</div>
	</li>
	<li>
		<span class="sg-swatch disabled-state"></span>
		<div class="sg-label">Disabled State</div>
		<div class="sg-label">RGB 117, 117, 117</div>
		<div class="sg-label">#757575</div>
	</li>
	<li>
		<span class="sg-swatch visited-state"></span>
		<div class="sg-label">Visited State</div>
		<div class="sg-label">RGB 82, 35, 176</div>
		<div class="sg-label">#5223B0</div>
	</li>
</ul>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch default-state-dark"></span>
		<div class="sg-label">Default State Dark</div>
		<div class="sg-label">RGB 255, 209, 0</div>
		<div class="sg-label">#FFD100</div>
	</li>
	<li>
		<span class="sg-swatch hover-state-dark"></span>
		<div class="sg-label">Hover State Dark</div>
		<div class="sg-label">RGB 255, 229, 0</div>
		<div class="sg-label">#FFE500</div>
	</li>
	<li>
		<span class="sg-swatch active-state-dark"></span>
		<div class="sg-label">Active State Dark</div>
		<div class="sg-label">RGB 255, 191, 15</div>
		<div class="sg-label">#FFBF0F</div>
	</li>
	<li>
		<span class="sg-swatch focus-state-dark"></span>
		<div class="sg-label">Focus State Dark</div>
		<div class="sg-label">RGB 255, 229, 0</div>
		<div class="sg-label">#FFE500</div>
	</li>
	<li>
		<span class="sg-swatch light-grey"></span>
		<div class="sg-label">Disabled State Dark</div>
		<div class="sg-label">RGB 235, 235, 235</div>
		<div class="sg-label">#EBEBEB</div>
	</li>
	<li>
		<span class="sg-swatch visited-state-dark"></span>
		<div class="sg-label">Visited State Dark</div>
		<div class="sg-label">RGB 207, 195, 243</div>
		<div class="sg-label">#CFC3F3</div>
	</li>
</ul>

{# DENOTIVE COLORS #}
<h2>Denotive Colors</h2>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch error-red"></span>
		<div class="sg-label">Error Red</div>
		<div class="sg-label">RGB 214, 0, 0</div>
		<div class="sg-label">#D60000</div>
	</li>
	<li>
		<span class="sg-swatch success-green"></span>
		<div class="sg-label">Success Green</div>
		<div class="sg-label">RGB 0, 115, 57</div>
		<div class="sg-label">#007339</div>
	</li>
	<li>
		<span class="sg-swatch warning-orange"></span>
		<div class="sg-label">Warning Orange</div>
		<div class="sg-label">RGB 245, 127, 23</div>
		<div class="sg-label">#F57F17</div>
	</li>
	<li> 
		<span class="sg-swatch primary-alert-blue"></span>
		<div class="sg-label">Primary Alert Blue</div>
		<div class="sg-label">RGB 139, 184, 232</div>
		<div class="sg-label">#8BB8E8</div>
	</li>
	<li>
		<span class="sg-swatch secondary-alert-grey"></span>
		<div class="sg-label">Secondary Alert Grey</div>
		<div class="sg-label">RGB 151, 151, 151</div>
		<div class="sg-label">#979797</div>
	</li>
</ul>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch error-red-light"></span>
		<div class="sg-label">Error Red Light</div>
		<div class="sg-label">RGB 247, 204, 204</div>
		<div class="sg-label">#F7CCCC</div>
	</li>
	<li>
		<span class="sg-swatch success-green-light"></span>
		<div class="sg-label">Success Green Light</div>
		<div class="sg-label">RGB 204, 227, 215</div>
		<div class="sg-label">#CCE3D7</div>
	</li>
	<li>
		<span class="sg-swatch warning-orange-light"></span>
		<div class="sg-label">Warning Orange Light</div>
		<div class="sg-label">RGB 253, 229, 209</div>
		<div class="sg-label">#FDE5D1</div>
	</li>
	<li>
		<span class="sg-swatch primary-alert-blue-light"></span>
		<div class="sg-label">Primary Alert Blue Light</div>
		<div class="sg-label">RGB 232, 247, 250</div>
		<div class="sg-label">#E8F1FA</div>
	</li>
	<li>
		<span class="sg-swatch secondary-alert-grey-light"></span>
		<div class="sg-label">Secondary Alert Grey Light</div>
		<div class="sg-label">RGB 234, 234, 234</div>
		<div class="sg-label">#EAEAEA</div>
	</li>
</ul>
