<h2>Full Gradient</h2>
<div class="full-gradient">No text color is ADA compliant across the full gradient.</div>

<h2>Dark Gradient</h2>
<div class="dark-gradient">
	<span>White text (#FFFFFF) is compliant (Level AA) on the dark gradient.</span>
</div>

<h2>Medium Gradient</h2>
<div class="medium-gradient">White text (#FFFFFF) is compliant (Level AA) on the medium gradient.</div>

<h2>Light Gradient</h2>
<div class="light-gradient">Dark grey text (#262626) is compliant (Level AA) on the light gradient.</div>
